<div>
  UpDate value
  <button (click)="(0)">UPDATE</button>
  <!-- </label> -->
  <hr />
  <form [formGroup]="profileForm">
    <label
      >First Name
      <input type="text" formControlName="firstName" />
    </label>
    <label>
      Last Name
      <input type="text" formControlName="lastName" />
    </label>
    <br />
    <div formControlName="address">
      <label>
        City :
        <input type="text" formControlName="city" />
      </label>
      <br />
      <label>
        Street:
        <input type="text" formControlName="street" />
      </label>
    </div>
    <br />
    <button>Submit</button>
  </form>
  <hr />
  {{ profileForm.status }}
</div>
