<p ngNonBindable>{{ name }}</p>
<p appHighlight>Hello World</p>
<hr />
<input type="text" />
<br />
<br />
<br />

<input type="text" appRandomColors />
<!---->
<div *ngIf="name">{{ color }}</div>

<ng-template [ngif]="name">
  <div>{{ color }}</div>
</ng-template>

<!--ngfor-->
<div
  *ngFor="
    let name of names;
    let i = index;
    let odd = odd;
    let even = even;
    let first = first;
    let last = last;
    let count = count;
    trackBy: trackByFn
  "
>
  <div *ngIf="last">
    {{ name }} {{ i + " " + odd + " " + even + " " + first + " " + last + " " }}
  </div>
</div>
<hr />

<ng-template
  ngFor
  let-name
  [ngForOf]="names"
  let-i="index"
  ,
  let-odd="odd"
  ,
  let-even="even"
  ,
  let-first="first"
  ,
  let-last="last"
  ,
  let-count="count"
  ;
  [ngForTrackBy]="trackByFn"
>
  <div>
    {{ name }}
    {{ i + "" + odd + "" + even + "" + first + "" + last + "" + count }}
  </div>
</ng-template>

<app-dashboard></app-dashboard>
